<div class="content-wrapper dashboard">
  <div class="container-fluid header_wrapper">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <h1>Dashboard</h1>
      </li>
    </ol>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 application_box">
        <div class="col-12 application_head">
          <div class="row">
            <h2 class= "col-md-9">Policy Issued</h2>
            <div class="col-md-3 text-left">
              <%#= form_tag(admin_applications_path(current_admin), method: :get) do %>
                <%#= hidden_field_tag("current_admin_id", current_admin.id, :id => "current_admin_id") %>
                <%##= select_tag :year, options_for_select((2018..8.years.from_now.year).to_a), class:"form-control" %>
              <%#end%>
            </div>            
          </div>
        </div>
        <div class="table_shadow">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Month</th>
                <th scope="col" class="text-right">Total Policy Issued</th>
              </tr>
            </thead>
            <tbody>
              <%#@statistics.each do |statistic_per_month|%>
              <tr>
                <td><%#= statistic_per_month[:month]%></td>
                <td class="text-right" ><span id="month_<%#=statistic_per_month[:month]%>"> <b><%#=statistic_per_month[:count]%></b></span></td>
              </tr>
              <%#end%>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 col-md-6 policy_box">
        <div class="col-12 application_head_case_count">
          <h2>Application Status - Case Count</h2>
        </div>
        <div class="table_shadow">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><%#= link_to "Incomplete Application", admin_applications_path(current_admin, state: "incomplete_application")%> </td>
                <td class="text-right"><b><%#= Application.by_state("incomplete_application").count%></b></td>
              </tr>
              <tr>
                <td><%#= link_to "Manual Submission", admin_applications_path(current_admin, state: "manual_submission")%> </td>
                <td class="text-right"><b><%#= Application.by_state("manual_submission").count%></b></td>
              </tr>
              <tr>
                <td><%#= link_to "Quotation Generated", admin_applications_path(current_admin, state: "quotation_generated")%></td>
                <td class="text-right"><b><%#= Application.by_state("quotation_generated").count%></b></td>
              </tr>
              <tr>
                <td><%#= link_to "Quotation Accepted", admin_applications_path(current_admin, state: "quotation_accepted")%></td>
                <td class="text-right"><b><%#= Application.by_state("quotation_accepted").count%></b></td>
              </tr>
              <tr>
                <td><%#= link_to "Payment Slip Uploaded", admin_applications_path(current_admin, state: "payment_slip_uploaded")%></td>
                <td class="text-right"><b><%#= Application.by_state("payment_slip_uploaded").count%></b></td>
              </tr>
              <tr>
                <td><%#= link_to "Rejected", admin_applications_path(current_admin, state: "rejected")%></td>
                <td class="text-right"><b><%#= Application.by_state("rejected").count%></b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>