<div class="about_us">

  <div class="header_image"></div>
  <div class="title">About Us</div>
  <div class="container">
    <p>In our last post we spoke about the need to have an objective or goal for your website. When you are ready to move beyond having a simple brochure site for your business, the first step is to decide what you want your website visitors to do and to set up the site accordingly.</p>

    <p>In this post we want to talk about something more specific and a bit more fun. Your small business website should have a killer About Us page. If you have Google Analytics (or some other tracking software) installed on your site, take a moment to look over the list of your most visited pages. Go ahead…I’ll wait.</p>

    <p>I am willing to bet that your About Us page is viewed more than you think. It is probably in the top 5 most visited pages on your site. Very often, it comes in at number two, right behind the home page. Are you wasting this precious bit of real estate on your business site? Is it filled with pseudo corporate-speak and talk of “synergy” or “adding value”? If so, stick around to the end of this post to learn how to create a killer About Us page.</p>

    <p><b>Hello, Nice to Meet You…</b></p>
    <p>Your About Us page is primarily an introduction, don’t be so uptight! You should be having more fun on your About Us page. It should be written in a way that is conversational and introduces your company so a prospect can get to know, like and trust your brand. People buy from companies they know, like and trust and you only get one chance at a first impression. Don’t blow this introduction, make sure you are memorable and likeable. Below are a few fun ways to turn your About Us Page into a marketing workhorse in a style that is fun and welcoming.</p>
  </div>
</div>