<div class="contact_us">
  <div class="head">
    <h1>Contact Us</h1>
    <p>Find us with your queries or if you'd like to know more about our product and services.</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 ivana_address">

        <h3>IVANA FASHION</h3>
        <p>Jalan Desa 1/1,Bandar Country Homes, </p>
        <p>Rawang, Selangor</p>
        <br>
        <p class="inline-flex"> Tel : +91-8450901006</p>
        <p class="inline-flex"> Fax : +91-8450901006</p>
        <p class="inline-flex"> Email : someone@ivanaworld.com</p>
        <p class="inline-flex"> Email : someone@ivanaworld.com</p>
      </div>
      <div class="col-12 col-md-7 map_wrapper">
        <div style="width: 100%, height: 400px">
          <iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=IVANA%20FASHION%2C%20Jalan%20Desa%201%2F1%2C%20Bandar%20Country%20Homes%2C%20Rawang%2C%20Selangor+(IvanaWorld)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Add map to website</a>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>