.contact_us {
  .head {
    text-align: center;
    padding: 6pc 20px 20px;
  }

  .ivana_address {
    text-align: center;
    background: #212529;
    color: white;
    height: 400px;
  }

  h3 {
    font-size: 16px;
    color: #444749;
    font-family: 'Archivo', sans-serif;
    color: white;
    padding-top: 5pc;
    font-weight: 600;
    padding-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 0px;
  }
}